.category {
    margin: auto;
    width: 80%;
    margin-top: 40px;

    .top{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 15px;
        align-items: center;
        border-bottom: 1px solid black;
        padding-bottom: 10px;
        margin-bottom: 20px;
        h2{
            text-align: center;
        }
        p{
            width: 80%;
        }
        img{
            width: 300px;
        }
    }
    .list {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 2fr));
        justify-content: space-between;
        gap: 40px;
        
    }
}